.idea
target
log
logs
*.iml
*.ipr
*.iws
log.*
*thrift/src/main/java*
*/filter/local.properties
.DS_Store
.classpath
.project
.settings/
*.jpg
release
.vscode
profile/dev.properties
.gradle/*

.gradle
